:root{
    --color-firts-section: rgb(153, 51, 153);
}
html{
    font-size: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    top: 0;
    left: 0;
}
.navbar{
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.logo{
    padding: 14px 17px;
    display: flex;
    align-items: center;
}
.logo img{
    width: 100px;
    height: 40px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}
.desplegable{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.desplegable img{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 48px;

}
.desplegable img:hover{
    width: 50px;
}
.opciones, .registrar{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 0.96rem;
    font-weight: 600;
    margin: 0 20px
}
.registrar li a{
    color: rgb(185, 184, 184);
}
/*-------------------------------------------------------------------------------------------------------------*/
.seccion1{
    background-color: var(--color-firts-section);
    padding: 60px 70px;
    padding-bottom: 50px;
    display: flex; 
}
.sec01{
    width: 60%;
    padding-bottom: 20px;
}
.sec02{
    width: 40%;
}
h1{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 2.3rem;
    font-weight: 800;
}
h2{
    font-size: 1.4rem;
    color: white;
    font-weight: 400;
    padding: 15px 0 0 0;
}
p{
    color: white;
    font-size: 0.67rem;
    font-weight: 500;
}
a{
    color: white;
}
.img_musica img{
    width: 100%;
    max-width: 500px;
}
.caja-btns{
    padding: 20px 0 30px 0;
    width: 100%;
}
.btn1{
    color: white;
    background-color: black;
    border: none;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    font-weight: 800;
    margin-right: 1rem;
    font-size: 0.85rem;
    width: 286px;
}
.btn1:hover{
    background-color: black;
    font-size: 0.87rem;
    cursor: pointer;
}
.btn2{
    color: white;
    background-color: var(--color-firts-section);
    border: 2px solid white;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    font-weight: 800;
    font-size: 0.85rem;
    width: 151px;
}
.btn2:hover{
    background-color: rgb(128, 51, 128);
    font-size: 0.87rem;
    cursor: pointer;
}
/*----------------------------------------------------------------------------------------------------------*/
.seccion2{
    padding: 60px 40px;
}
h3{
    text-align: center;
    font-size: 2.4rem;
    margin-top: 10px;
}
.beneficios{
    display: flex;
    flex-direction: row;
    padding: 0;
}
.beneficios li{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
.logo-ben{
    background-color: rgb(235, 235, 235);
    padding: 25px;
    border-radius: 50%;
    text-align: center;
}
.beneficios li .logo-ben img{
    width: 100%;
    max-width: 50px;
    max-height: 50px;
}
.descripcion p{
    color: black;
    font-size: 1rem;
    text-align: center;
}
/*----------------------------------------------------------------------------------------------------------*/
.seccion3{
    padding: 10px;
    padding-top: 30px;
    background-color: rgb(239, 239, 239);
}
h4{
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 0;
}
.cont-planes{
    padding-bottom: 5rem;
}
.cont-planes p:nth-child(2){
    color: black;
    text-align: center;
    font-size: 0.9rem;
}
.div-planes{
    padding: 0;
    display: flex;
    margin-top: 5rem;
}
.plan{
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 25%;
    box-shadow: rgba(99, 99, 99, 0.5) 2px 2px 8px 0px;
}
.par01-plan{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    height: auto;
    min-height: 170px;
    padding-bottom: 1rem;
}
.par01-plan ul{
    padding: 0;
    margin: 0;
    position: relative;
}
.par01-plan ul li{
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.9rem;
}
.li01{
    background-color: rgb(13, 114, 234); 
    width: 100%;
    max-width: 111px;
    box-sizing: border-box;
}
.li02{
    background-color: white;
    width: 100%;
    max-width: 214px;
    border: 2px solid rgb(13, 114, 234);
    box-sizing: border-box;
}
.sp01{
    color: white;
}
.sp02{
    color: rgb(13, 114, 234);
}
h5{
    margin: 0;
    font-size: 1.4rem;
}
.par01-plan p{
    margin: 0;
    color: black;
    font-size: 0.95rem;
}
.par02-plan{
    height: auto;
    min-height: 15rem;
}
.par02-plan ul{
    padding: 0;
}
.par02-plan ul li{
    display: flex;
    margin: 0.5rem 0;
}
.list-beneficios img{
    vertical-align: super;
    margin-right: 0.6rem;
}
.list-beneficios{
    font-size: 0.95rem;
}
.text{
    margin-top: 3px;
}
.comenzar{
    background-color: black;
    text-align: center;
    border-radius: 1.5rem;
    padding: 0.9rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.comenzar span{
    font-size: 0.95rem;
    font-weight: 600;
    color: white;
}
.term-cond p{
    color: black;
    text-align: justify;
    margin-top: 1.5rem;
}
/*----------------------------------------------------------------------------------------------------------*/
footer{
    background-color: black;
    padding: 5rem 2rem 2rem ;
}
.sec-foot1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}
.logo2 img{
    width: 100px;
    height: 52px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}
.links{
    display: flex;
    flex-direction: row;

}
dl{
    margin: 40px;
    margin-top: 12px;
}
dt{
    color: silver;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 1.5px;
}
dd{
    margin: 0;
    margin-bottom: 20px;
}
dd a{
    text-decoration: none;
    font-size: 0.95rem;
}
dd a:hover{
    color: #1ed760;
}
.redes_sociales{
    margin: 0;
    display: flex;
    flex-direction: row;
}
.redes_sociales li{
    background-color: rgb(36, 36, 36);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0.5rem;
}
.redes_sociales li a{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-foot2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info_legal ul{
    display: flex;
    flex-direction: row;
    padding: 0;
    flex-wrap: wrap;
}
.info_legal ul a{
    font-size: 0.7rem;
    font-weight: 200;
    margin: 0 2rem 0 0;
    color: silver;
}
.info_legal ul a:hover{
    color: #1ed760;
}
.info_ubi{
    text-align: right;
}
.ubicacion{
    color: silver;
    font-size: 0.7rem;
}
.ubicacion:hover{
    color: #1ed760;
}
.info_ubi:nth-child(2) p{
    color: silver;
    font-size: 0.7rem;
}
svg:hover{
    fill: #1ed760;
}
/*----------------------------------------------------------------------------------------------------------*/
@media (max-width: 1050px){
    .seccion1{
        flex-direction: column;
        padding: 80px 90px;
        height: auto;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.2rem;
    }
    .sec01{
        width: 100%;
    }
    .sec02{
        width: 100%;
    }
    .img_musica{
        width: 100%;
        text-align: center;
    }
    .beneficios{
        flex-wrap: wrap;
        margin-top: 2rem;
    }
    .beneficios li{
        width: 50%;
    }
    h4{
        font-size: 2rem;
    }
    .div-planes{
        flex-direction: column;
        align-items: center;
    }  
    .plan{
        width: 100%;
        max-width: 400px;
        margin: auto;
        box-sizing: border-box;
        margin-bottom: 1rem;
    }
}
@media (max-width: 1000px){
    .sec-foot1{
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .sec-foot1 div{
        margin-bottom: 2rem;
    }
    dl{
        margin: 12px 0;
    }
    .links dl{
        flex-grow: 1;
    }
    .redes_sociales{
        padding: 0;
    }
    footer{
        padding-top: 3.5rem;
    }
}
@media (max-width: 900px){
    .desplegable{
        padding: 15px;
    }
}
@media (max-width: 750px){
    .seccion1{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .info_legal ul{
        margin-bottom: 0;
    }
    .info_legal li{
        margin-bottom: 1rem ;
    }
    .info_legal ul a{
        margin: 0 2rem 0 0;
    }
}
@media (max-width: 630px){
    .seccion1{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .btn1,.btn2{
        width: 100%;
        margin-bottom: 0.8rem;
    }
    .seccion2{
        padding: 60px 20px;
    }
    h3{
        font-size: 2rem;
    }
    .beneficios{
        flex-direction: column;
    }
    .beneficios li{
        flex-direction: row;
        width: 100%;
        justify-content: flex-start;
        margin: 10px;
    }
    .logo-ben{
        flex-grow: 0;
        padding: 15px;
    }
    .descripcion{
        padding: 20px;
        flex-grow: 6;
    }
    .descripcion p{
        text-align: left;
    }
    footer{
        padding: 2.5rem 1rem 0.5rem 1rem;
    }
    .links{
        flex-direction: column;
    }
    .info_ubi{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media (max-width: 250px){
    .desplegable{
        padding: 15px 0;
    }
    .logo{
        padding: 14px 0;
    }
    .logo img{
        width: 80px;
    }
    .seccion2{
        padding: 60px 8px;
    }
    h3{
      font-size: 1.7rem;  
    }
    .descripcion p{
        margin: 2px 0;
    }
    h4{
        font-size: 1.7rem;
    }
    .redes_sociales li{
        background-color: black;
        margin: 0;
    }
}
@media (max-width: 218px){
    .info_legal ul a{
        margin-left: 0;
    }
}
@media (max-width: 200px){
    .seccion1{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    h1{
        font-size: 1.4rem;
    }
    .img_musica{
        width: 100%;
    }
    .seccion2{
        padding: 60px 1px;
    }
    .plan{
        padding: 10px;
    }
    .logo-ben{
        display: none;
    }
    footer{
        padding: 2.5rem 0.5rem 0.5rem;
        
    }
}