:root{
    --color-firts-section: rgb(153, 51, 153);
}
html{
    font-size: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    top: 0;
    left: 0;
}
.navbar{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 5%;
}
.logo{
    width: 10%;
    margin: 5px 10px 0 10px;
}
.logo img{
    width: 80px;
    height: 50px;
}
.desplegable{
    display: flex;
    flex-direction: row;
}
.opciones, .registrar{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding-left: 60px;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 0.96rem;
    font-weight: 600;
    margin: 0 20px
}
.registrar li a{
    color: rgb(185, 184, 184);
}
/*-------------------------------------------------------------------------------------------------------------*/
.seccion1{
    background-color: var(--color-firts-section);
    padding: 50px 70px;
    padding-bottom: 30px;
    display: flex; 
}
.sec01{
    width: 60%;
    padding-bottom: 20px;
}
.sec02{
    width: 40%;
}
h1{
    margin: 0;
    padding: 30px 0 0 0;
    color: white;
    font-size: 2.3rem;
    font-weight: 800;
}
h2{
    font-size: 1.4rem;
    color: white;
    font-weight: 400;
    padding: 15px 0 0 0;
}
p{
    color: white;
    font-size: 0.67rem;
    font-weight: 500;
}
a{
    color: white;
}
.img_musica{
    width: 90%;
    height: 400px;
    margin: 0 0 0 40px;
}
.img_musica img{
    width: 100%;
    height: 100%;
}
.caja-btns{
    padding: 20px 0 30px 0;
}
.btn1{
    color: white;
    background-color: black;
    border: none;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    font-weight: 800;
}
.btn2{
    color: white;
    background-color: var(--color-firts-section);
    border: 2px solid white;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    font-weight: 800;
}
/*----------------------------------------------------------------------------------------------------------*/
.seccion2{
    padding: 20px;
}
h3{
    text-align: center;
    font-size: 2.4rem;
}
.beneficios{
    display: flex;
    flex-direction: row;
    padding: 0;
}
.beneficios li{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.beneficios li div{
    padding: 20px;
}
.descripcion p{
    color: black;
    font-size: 1.1rem;
    text-align: center;
}
/*----------------------------------------------------------------------------------------------------------*/
.seccion3{
    padding: 10px;
    padding-top: 30px;
    background-color: rgb(239, 239, 239);
}
h4{
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 0;
}
.cont-planes p:nth-child(2){
    color: black;
    text-align: center;
    font-size: 0.9rem;
}
.div-planes{
    padding: 0 70px;
    display: flex;
    margin-top: 5rem;
}
.plan{
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 25%;
    box-shadow: rgba(99, 99, 99, 0.5) 2px 2px 8px 0px;
}
.par01-plan{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    height: 170px;
}
.par01-plan ul{
    padding: 0;
    margin: 0;
}
.par01-plan ul li{
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.9rem;
}
.li01{
    background-color: rgb(13, 114, 234); 
    width: max-content;
}
.li02{
    background-color: white;
    width: max-content;
    border: 2px solid rgb(13, 114, 234);
}
.sp01{
    color: white;
}
.sp02{
    color: rgb(13, 114, 234);
}
h5{
    margin: 0;
    font-size: 1.4rem;
}
.par01-plan p{
    margin: 0;
    color: black;
    font-size: 0.95rem;
}
.par02-plan{
    height: 15rem;
}
.par02-plan ul{
    padding: 0;
}
.par02-plan ul li{
    display: flex;
    margin: 0.5rem 0;
}
.list-beneficios svg{
    vertical-align: super;
    margin-right: 0.6rem;
}
.list-beneficios{
    font-size: 0.95rem;
}
.text{
    margin-top: 3px;
}
.comenzar{
    background-color: black;
    text-align: center;
    border-radius: 1.5rem;
    padding: 0.9rem;
}
.comenzar a{
    font-size: 0.95rem;
    font-weight: 600;
}
.term-cond p{
    color: black;
    text-align: justify;
    margin-top: 1.5rem;
}
/*----------------------------------------------------------------------------------------------------------*/
footer{
    background-color: lightblue;
}
/*----------------------------------------------------------------------------------------------------------*/
@media (max-width: 1050px){
    .seccion1{
        flex-direction: column;
        padding-top: 0;
        height: auto;
    }
    .sec01{
        width: 100%;
    }
    .sec02{
        width: 100%;
    }
    .img_musica{
        width: 50%;
        margin: 20px auto;
    }
    .div-planes{
        flex-direction: column;
        align-items: center;
    }  
    .plan{
        width: 47%;
    }
}