:root{
    --color-two: #292929;
}
body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
    position: relative;background-color: black;
}
#section-1{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-auto-rows: auto;
    height: 100vh;
    position: relative;
    width: 100%;
}
/*-------------------------------------------NAV-(UNO)----------------------------------------------------*/
#uno{
    grid-column: 1;
    grid-row: 1/3;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 200px;
}
#logo{
    width: 100%;
    text-align: center;
    padding: 1.3rem 0;
}
#logo img{
    width: 120px;
    height: 50px;
}
#uno ul{
    list-style: none;
    padding: 0 1.3rem;
    margin: 0;
    margin-bottom: 2.5rem;
}
.opciones li{
    margin-bottom: 0.9rem;
}
.sub-opciones{
    display: flex;
    align-items: center;
}
.sub-opciones span{
    padding-left: 0.9rem;
}
.crea-like{
    height: 485px;
}
.enlaces{
    bottom: 0;
    padding: 0 1.3rem;
    display: flex;
    flex-direction: column;
}
.enlaces a{
    text-decoration: none;
    color: rgb(177, 177, 177);
    font-size: 0.7rem;
    margin: 0.3rem;
}
/*-----------------------------------------DIV-(DOS)--------------------------------------------------------*/
#dos{
    grid-column: 2;
    grid-row: 1;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 1rem;
    position: fixed;
    width: calc(100% - 200px);
    right: 0;
    box-sizing: border-box;
}
.dos-partes{
    padding-right: 5rem;
}
/*----------------------------------------------------------------------------------------------------------*/
#tres{
    grid-column: 2;
    grid-row: 2;
    color: white;
    background-color: #1b1b1b;
    padding: 1rem;
    padding-top: 80px;
}
.se_01{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem 1rem 0;
}
.se_01 h2{
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
.se_02{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.se_02 img{
    width: 100%;
    max-width: 175px;
    height: 200px;
}
.caja_art{
    width: 100%;
    max-width: 180px;
    margin: 0 2rem;
}
/*----------------------------------------------------------------------------------------------------------*/
#cuatro{
    grid-column: 1/3;
    grid-row: 3;
    background-color: #4158D0;
    background-image: linear-gradient(270deg, #4158D0 2%, #C850C0 74%, #fd5959 99%);
    position: fixed;
    bottom: 0;
    width: 100%;
}