@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
*{
    /*user-select: none;*/
}
:root{
    --color-two: #292929;
}
body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    height: 100%;
    position: relative;
    background-color: #1b1b1b;
    font-size: 0.9rem;
    font-weight: 900;
}
#section-1{
    display: grid;
    grid-template-areas: 
        "top-bar top-bar"
        "nav-bar main-view"
        "bar bar";
    grid-template-columns: 240px 1fr;
    grid-auto-rows: auto 1fr auto;

}
/*-------------------------------------------NAV-(UNO)----------------------------------------------------*/
#uno{
    grid-area: nav-bar;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 240px;
    height: 100%;
}
.menu{
    width: calc(100% - 5px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.resize{
    width: 5px;
    background-color: black;
}
.resize:hover{
    cursor: col-resize;
    border-right: 1px dotted white;
}
#logo{
    width: 100%;
    text-align: center;
    padding: 1.3rem 0;
}
#logo img{
    width: 120px;
    height: 40px;
}
#uno ul{
    width: 100%;
    list-style: none;
    padding: 0 1rem 0 1rem;
    margin: 0;
    margin-bottom: 2.5rem;
    box-sizing: border-box;
}
.opciones li{
    width: 100%;
    margin-bottom: 0.9rem;
}
#subo-01, #subo-02, #subo-03{
    width: fit-content;
}
.sub-opciones{
    display: flex;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
}
.sub-opciones span{
    padding-left: 0.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
}

.enlaces{
    bottom: 0;
    padding: 0 1.3rem;
    display: flex;
    flex-direction: column;
}
.enlaces a{
    text-decoration: none;
    color: rgb(177, 177, 177);
    font-size: 0.7rem;
    margin: 0.3rem;
    cursor: pointer;
    width: fit-content;
}
.caja-enlaces{
    margin-bottom: 1.5rem;
}
/*-----------------------------------------DIV-(DOS)--------------------------------------------------------*/
#dos{
    z-index: 2;
    grid-area: top-bar;
    background-color: black;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    position: fixed;
    width: calc(100% - 240px);
    right: 0;
    box-sizing: border-box;

}
.opciones-dos{
    display: flex;
}
.opciones-nav span{
    margin: 0 1rem;
    letter-spacing: 2px;
}
.dos-partes{
    display: flex;
    align-items: center;
    color: rgb(148, 148, 148);
    font-weight: 900;
}
.barra{
    padding: 0 2rem;
}
.sesion span{
    margin: 0 1rem;
}
.iniciar{
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 0.8rem 2rem;
}
/*----------------------------------------------------------------------------------------------------------*/
#tres{
    grid-area: main-view;
    /*background-color: #1b1b1b;*/
    background: linear-gradient(180deg, #1b1b1b 33%, #121212 58%);
    color: white;
    padding: 40px 1.5rem 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tres-part1{
    width: 100%;
}
.tres-part2{
    width: 100%;
    padding-top: 60px;
}
.list-reproducion{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.se_01{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 1rem;
}
.se_01 h2{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
}
.se_01 .view{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
.se_02{
    width: 100%;
    display: flex;
}
.se_02 img{
    width: 100%;
    height: 145px;
    border-radius: 10px;
}
.caja_art{
    width: 100%;
    max-width: 200px;
    background-color: rgba(41, 41, 41, 0.8);
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0 10px;
}
.caj-des{
    margin: 0;
    margin-top: 8px;
}
.peque-des{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
.flex-info{
    display: flex;
    justify-content: space-between;
    margin: 0 0 2rem;
}
.informacion{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.informacion ul{
    padding: 0;
}
.li-ti p{
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 1rem;
}
.informacion ul li{
    list-style: none;
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.informacion ul li a:hover{
    text-decoration: underline;
}
.redes-sociales{
    display: flex;
}
.logito{
    padding: 0.7rem;
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
    background-color: rgb(77, 77, 77);
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.flex-info2{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(87, 87, 87);
    padding: 2rem 0 1rem;
}
.info2-01{
    display: flex;
    flex-wrap: wrap;
}
.info2-01 span{
    margin-right: 1rem;
}
.info2-01 span a{
    font-size: 0.9rem;
    font-weight: 300;
}
.info2-02 span{
    font-size: 0.9rem;
    font-weight: 300;
}
/*----------------------------------------------------------------------------------------------------------*/
#cuatro{
    grid-area: bar;
    background-color: yellow;
    display: none;
    background-color: #FC00FF;
    background-image: linear-gradient(90deg, #c61ac9 0%, #3e87ab 90%);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}
.registro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 3rem;
}
.r-01{
    font-size: 1rem;
    color: white;
    font-weight: 400;
}
.r-02{
    font-size: 0.95rem;
    color: white;
    font-weight: 700;
}
.btn-registro{
    padding: 0.7rem 1.5rem;
    border-radius: 20px;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

/*****************************************************JAVASCRIPT******************************************************************************/
.buscador{
    display: none;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    width: 280px;
    height: 40px;
    padding: 0 1rem;
    box-sizing: border-box;
}
.buscador input{
    border: 0;
    font-size: 0.9rem;
    margin-left: 0.9rem;
}
.buscador input:focus{
    outline: none;
}
.contenedor-mensaje{
    position: absolute;
    top: 160px;
    left: 177px;
    display: none;
    justify-content: flex-start;
    cursor: auto;
}
.triangulo{
    width: 0; 
    height: 0; 
    border-right: 7px solid #0d72ea;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    margin-top: 0.7rem; 
}
.mensaje-caja{
    background-color: #0d72ea;
    width: 250px;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}
.mensaje-caja .title{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.mensaje-caja .descrip{
    font-weight: 700;
}
.si-no{
    margin-top: 1rem;
    display: flex;
    justify-content: right;
    align-items: center;
}
.si-no .sn-01{
    cursor: pointer;
    padding: 0;
}
.si-no .sn-02{
    background-color: white;
    border-radius: 1rem;
    color: black;
    padding: 0.4rem;
    margin-left: 1rem;
}
.contenedor-mensaje-02{
    position: absolute;
    top: 225px;
    left: 246px;
    display: none;
    justify-content: flex-start;
    cursor: auto;
}
.contenedor-mensaje-03{
    position: absolute;
    top: 265px;
    left: 233px;
    display: none;
    justify-content: flex-start;
    cursor: auto;
}
.explora{
    display: none;
    margin-top: 20px;
}
.contenedor-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    grid-gap: 30px;
    grid-auto-rows: 200px;
    margin-top: 20px;
}
.artis-grid{
    border-radius: 15px;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
}
.lista-canciones{
    display: none;
    margin-top: 20px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.portada{
    display: flex;
    padding: 1rem 1rem 0;
}
.port-01{
    width: 20%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
.port-02{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    justify-content: center;
}
.portada img{
    width: 100%;
    height: 100%;
    max-height: 240px;
}
.titu{
    font-size: 5rem;
    margin-bottom: 1rem;
}
.iconos{
    display: flex;
    align-items: center;
    margin: 0.7rem;
}
.iconos span{
    margin: 1rem;
}
.canciones{
    width: 100%;
}
.encabeza{
    display: grid;
    grid-template-columns: 50px 3fr 2fr repeat(2,1fr);
    grid-auto-rows: auto;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(70, 70, 70);
}
.cancion{
    display: grid;
    grid-template-columns: 50px 3fr 2fr repeat(2,1fr);
    margin: 1rem 0;
    cursor: pointer;
}
.count{
    display: flex;
    justify-content: center;
    align-items: center;
}
.miniatura{
    width: 60px;
    margin-right: 1rem;
}
.des-prin{
    width: 100%;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nm-art{
    color: silver;
    font-weight: 400;
    margin-top: 10px;
    padding-right: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.descrip{
    width: calc(100%-60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nm-song{
    width: 100%;
    padding-right: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}
.albu, .fecha, .tiempo{
    display: flex;
    align-items: center;
}
.albu{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.fecha{
    white-space: nowrap;
    justify-content: center;
}
.tiempo{
    padding-right: 1rem;
    justify-content: end;
}
/*--------------------------------------MEDIA QUERYS--------------------------------------------------------------------*/
@media (max-width: 1367px){
    .caj-06{
        display: none;
    }
}
@media (max-width: 1187px){
    .caj-05{
       display: none;
    }
    .flex-info{
        flex-direction: column;
    }
    .redes-sociales{
        margin-top: 1rem;
    }
}
@media (max-width: 1070px){
    .fecha{
        display: none;
    }
    .encabeza{
        grid-template-columns: 50px 3fr 2fr 1fr;
    }
    .cancion{
        grid-template-columns: 50px 3fr 2fr 1fr;
    }
}
@media (max-width: 975px){
    .caj-04{
       display: none;
    }
}
@media (max-width: 890px){
    .informacion{
        flex-direction: column;
    }
    .en-02, .albu{
        display: none;
    }
    .encabeza{
        grid-template-columns: 50px 6fr 1fr;
    }
    .cancion{
        grid-template-columns: 50px 6fr 1fr;
    }
}
@media (max-width: 827px){
    .informacion{
        flex-direction: column;
    }
    .caja_art{
        min-width: 180px;
    }
    body{
        overflow-x: hidden;
    }
}
@media (max-width: 800px){
    .informacion{
        flex-direction: column;
    }
}
@media (max-width: 670px){
    .tiempo{
        display: none;
    }
    .encabeza{
        grid-template-columns: 50px 1fr;
    }
    .cancion{
        grid-template-columns: 50px 1fr;
    }
} 

video{
    background-color: #a63c3c;
background-image: linear-gradient(180deg, #a63c3c 0%, #000000 77%);


}